@import "../../scss/colors.scss";

.backdrop-card,
.poster-card {
  margin-bottom: 50px;

  img {
    display: block;
  }

  a {
    color: $pureWhite;
  }

  .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .title {
    height: 40px;
    overflow: hidden;
  }

  .date {
    border: 1px solid $pureWhite;
    border-radius: 2px;
    padding: 3px 5px;
  }

  .custom-navigation {
    margin-bottom: 25px;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .swiper-btns {
      display: flex;
      align-items: center;
      position: relative;

      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        display: block;
        margin-bottom: 25px;
        width: 30px;
        height: 10px;
        --swiper-navigation-size: 18px;
        color: $pureWhite;
      }

      .swiper-button-prev {
        left: -70px;
      }

      .swiper-button-next {
        right: 0;
      }
    }
  }

  .movies-row {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

    .movies {
      flex: 0 0 23.5%;
      max-width: 23.5%;

      img,
      .row {
        width: 100%;
      }
    }
  }

  .pagitation {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    ul {
      padding: 10px;
      background: $red;
      border-radius: 20px;
    }

    li {
      border-radius: 5px;
    }

    button {
      color: $pureWhite;
    }
  }
}

.backdrop-card {
  img,
  .row {
    width: 390px;
  }

  .title {
    width: 256px;
  }
}

.poster-card {
  img,
  .row {
    width: 260px;
  }

  .title {
    width: 150px;
  }
}
