@import "../scss/colors.scss";

.search-input {
  display: flex;
  align-items: start;
  gap: 24px;
  height: 50px;
  margin: 33px 0 35px;

  label {
    font-size: 22px;
    cursor: pointer;
  }

  input {
    width: 484px;
    font-size: 24px;

    &:focus {
      border-bottom: 1px solid $pureWhite;
      padding-bottom: 15px;
    }

    &::placeholder {
      color: $pureWhite;
      font-weight: 200;
      opacity: 0.4979;
    }

    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
}
