@import "../scss/colors.scss";
@import "../scss/mediaQueries.scss";

.search-input {
  display: flex;
  align-items: start;
  gap: 24px;
  height: 50px;
  margin: 33px 0 35px;

  label {
    font-size: 22px;
    cursor: pointer;
  }

  input {
    width: 484px;
    font-size: 24px;

    &:focus {
      border-bottom: 1px solid $pureWhite;
      padding-bottom: 15px;
    }

    &::placeholder {
      color: $pureWhite;
      font-weight: 200;
      opacity: 0.4979;
    }

    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
}

@include respond-to(375px) {
  .search-input {
    align-items: center;
    margin: 0 16px 26px;
    height: 30px;
    gap: 16px;

    input {
      max-width: 270px;
      font-size: 16px;

      &:focus {
        border: none;
        padding-bottom: 0;
      }
    }

    label {
      font-size: 18px;
    }
  }
}
