nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 35px 38px 32px;

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
  }

  .btn-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
