@import "./scss/colors.scss";

.home-page {
  display: flex;
  align-items: start;
  gap: 36px;
  margin: 32px;
}

nav {
  background: $semiDarkBlue;
  width: 96px;
  height: 900px;
  border-radius: 20px;
}

main {
  min-width: 1240px;
}
