@import "./scss/colors.scss";
@import "./scss//mediaQueries.scss";

.home-page {
  display: flex;
  align-items: start;
  gap: 36px;
  margin: 32px;
}

main {
  min-width: 1000px;
  flex: 1;
}

@include respond-to(375px) {
  main {
    min-width: 343px;
    margin: 0 auto;
  }

  .home-page {
    flex-direction: column;
    margin: 0;
  }
}
