@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "./scss/colors.scss";
@import "./scss/mediaQueries.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

body {
  background: $darkBlue;
  color: $pureWhite;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

.link {
  color: $red;
}

.light-text {
  font-size: 13px;
  opacity: 0.75;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

input {
  background: transparent;
  color: $pureWhite;
  caret-color: $red;
  outline: none;
  border: none;
  font-weight: 300;
}

.input {
  width: 336px;
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $greyishBlue;

  &:focus {
    border-bottom-color: $pureWhite;
  }

  &::placeholder {
    opacity: 0.5;
    color: $pureWhite;
  }
}

@include respond-to(375px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
