@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "./scss/colors.scss";

$transition: 0.16s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

body {
  background: $darkBlue;
  color: $pureWhite;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 15px;
}

.light-text {
  font-size: 13px;
  opacity: 0.75;
}

button {
  font-size: 15px;
  font-weight: 300;
  background: $red;
  color: $pureWhite;
  padding: 14px 96px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background: $pureWhite;
    color: $semiDarkBlue;
  }
}

input {
  background: transparent;
  color: $pureWhite;
  caret-color: $red;
  outline: none;
  border: none;
  font-weight: 300;
}

.search-input {
  display: flex;
  align-items: start;
  gap: 24px;

  label {
    font-size: 22px;
    cursor: pointer;
  }

  input {
    width: 484px;
    font-size: 24px;

    &:focus {
      border-bottom: 1px solid $pureWhite;
      padding-bottom: 15px;
    }

    &::placeholder {
      opacity: 0.4979;
    }
  }
}

.input {
  width: 336px;
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $greyishBlue;

  &:focus {
    border-bottom-color: $pureWhite;
  }

  &::placeholder {
    opacity: 0.5;
  }
}
