@import "./colors.scss";

.button {
  font-size: 15px;
  font-weight: 300;
  background: $red;
  color: $pureWhite;
  padding: 14px 96px;
  border-radius: 6px;
  transition: $transition;

  &:hover {
    background: $pureWhite;
    color: $semiDarkBlue;
  }
}

.bookmark {
  background: $darkBlueOpacity;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  transition: $transition;

  i {
    font-size: 16px;
    color: $pureWhite;
  }

  &:hover {
    background: $pureWhite;

    i {
      color: $darkBlue;
    }
  }
}
